
* {
    margin     : 0;
    padding    : 0;
    box-sizing : border-box;
    color      : #334e64;
    font-family: 'Montserrat', sans-serif;
}

body {
    min-height     : 100vh;
    width          : 100%;
    display        : flex;
    justify-content: center;
    align-items    : center;
    /* background     : linear-gradient(20deg, #ff2844, #6741ff); */
}
/* :root {
    --width: 400px;
    --height: 260px;
    --i-width: calc(var(--height)*0.25 - 23px);
} */

.profile-container {
    position        : relative;
    background-color: #fff;
    max-width           : 550px;
/* max-height           :860px; */
    padding         : 100px 50px 40px;
    border-radius   : 22px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    align-items     : center;
    transform-style: preserve-3d;
}
.profile-container::before {
    content: '';
    position: absolute;
    left: -59%;
    width: 80px;
    height: var(--width);
    background-color: #FFFB;
    transform: rotate(38deg) translateY(-25%);
    z-index: 1;
    overflow: hidden;

}
.profile-container:hover .profile-container::before {
    animation: brightness 0.8s 1 forwards;
}
    @keyframes brightness {
        0% {
            left: -59%;
        }
        100% {
            left: 112%;
        }
    }

.img-container {
    z-index: 1;
    width        : 120px;
    height       : 120px;
    overflow     : hidden;
    border       : 3px solid #10d7f1;
    border-radius: 50%;
    /* box-shadow   : 0 8px 55px #b92a76a4; */
    position     : absolute;
    top          : 0;
    left         : 50%;
    transform    : translate(-50%, -20%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.img-container img {
    width    : 100%;
    max-width: 100%;
    transform: scale(1.1);
}

.info {
    margin-bottom: 12px;
}

.info i {
    margin-right: 0.1px;
    font-size   : 0.79em;
}


/* .full-name {
    font-size     : 1.4em;
    font-weight   : bold;
    letter-spacing: 1px;
    color         : #F26837;
    
} */
.h1 {
    font-size: 0.1em;
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

span {
    color: #e84118;
    text-align     : center;
}

.content-info {
    width          : 100%;
    display        : flex;
    justify-content: space-around;
    align-items    : center;
    font-size      : 1.1em;
    letter-spacing : 0.5px;
    margin-top  : 10px;
    text-align     : center;
}

.content-info span {
    display      : block;
    font-weight  : bold;
    margin-bottom: 4px;
}

.social-container {
    width          : 100%;
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    margin-bottom  : 1px;
    margin-top: 40px;
}

.social-container a {
    color: #fff;
    text-decoration: none
}

.social-container button {
    border          : none;
    outline         : none;
    width           : 30px;
    height          : 30px;
    border-radius   : 50%;
    font-size       : 1.1em;
    cursor          : pointer;
    box-shadow      : 0px 5px 25px rgba(199, 58, 58, 0.15);
    transition      : transform 0.3s;
}

.social-container button:hover {
    transform: scale(1.1);
}

/* Social colors */

.social-container button.facebook {
    background: linear-gradient(45deg, #29d1ff88, #173dff);
}

.social-container button.linkedin {
    background: linear-gradient(45deg, #0e76a888, #0e76a8);
}

.social-container button.instagram {
    background: linear-gradient(45deg, #e6683ccc 25%, #dc2743 50%,
            #bc1888 100%);
}

.social-container button.github {
    background: linear-gradient(45deg, #33333388, #333333);
}
.social-container button.twitter {
    background: linear-gradient(45deg, #29d1ff88, #173dff);
}
.social-container button.youtube {
    background: linear-gradient(45deg, #fe294988, #f10000);
}
.social-container button.search {
    background: linear-gradient(45deg, #4ae03d88, #07ff24);
}

.action {
    outline: orangered;
    cursor: pointer;
    color: rgb(32, 149, 238);
    border: none;
    border-radius: 50px;
    padding: 12px 20px;
    width: 50%;
    margin-top: 25px;
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.2);
    text-transform: inherit;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 2px;
    transition: transform 0.3s, opacity 0.3s;
}

.action.contme {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

.action:hover {
    transform: scale(1.05);
    opacity: 0.85;
}
/* .btn {
    display: inline-block;
    padding: 14px 40px;
    border-radius: 0.5rem;
    border-radius: 100px;
    font-size: 17px;
    font-weight: 500;
    background: var(--main-color);
    color: var(--text-color);
    border: 1px solid var(--main-color);
    transition: all .40s ease;
    margin: auto;
} */

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 16s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}